<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Dashboard - Orbital Node Admin Panel</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="../../admin/assets/img/logo.png" rel="icon">
  <link href="../../admin/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../../admin/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../../admin/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../../admin/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="../../admin/assets/vendor/quill/quill.snow.css" rel="stylesheet">
  <link href="../../admin/assets/vendor/quill/quill.bubble.css" rel="stylesheet">
  <link href="../../admin/assets/vendor/remixicon/remixicon.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../../admin/assets/css/style.css" rel="stylesheet">

  <script src="../../school/js/jquery-3.2.1.min.js"></script>

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a href="/admin/<%= info.name %>/dashboard" class="logo d-flex align-items-center">
        <img src="../../admin/assets/img/logo.png" alt="">
        <span class="d-none d-lg-block">Orbital Admin</span>
      </a>
      <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->
    <div class="d-flex align-items-center justify-content-between tex">
      <span class="d-none d-lg-block">
        <div class="pad">Manage the contents of your school Website and Database</div>
      </span>
    </div>



    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">

        <li class="nav-item dropdown pe-3">
          <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
            <img src="<%= info.logo %>" alt="Profile">
            <span class="d-none d-md-block dropdown-toggle ps-2">
              <%= info.name %>
            </span>
          </a><!-- End Profile Iamge Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
            <li class="dropdown-header">
              <h6>
                <%= info.name %>
              </h6>
              <span>Admin Account</span>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="#changePasswordModal" data-bs-toggle="modal">
                <i class="bi bi-grid"></i>
                <span>Change Login Password</span>
              </a>
            </li>
            <li>
              <a class="dropdown-item d-flex align-items-center" href="/admin">
                <i class="bi bi-box-arrow-right"></i>
                <span>Sign Out</span>
              </a>
            </li>

          </ul><!-- End Profile Dropdown Items -->
        </li><!-- End Profile Nav -->

      </ul>
    </nav><!-- End Icons Navigation -->

  </header><!-- End Header -->

  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link " href="/admin/<%=info.name%>/dashboard">
          <i class="bi bi-grid"></i>
          <span>Dashboard</span>
        </a>
      </li><!-- End Dashboard Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-cloud"></i><span>Website</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="school-info">
              <i class="bi bi-circle"></i><span>School Information</span>
            </a>
          </li>
          <li>
            <a href="upcoming-news">
              <i class="bi bi-circle"></i><span>Upcoming news and Events</span>
            </a>
          </li>
          <li>
            <a href="fees-info">
              <i class="bi bi-circle"></i><span>Fees Payment Details</span>
            </a>
          </li>
        </ul>
      </li><!-- End Website Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-people"></i><span>Students</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="tables-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="student-info">
              <i class="bi bi-circle"></i><span>Students Information</span>
            </a>
          </li>
          <li>
            <a href="student-fees">
              <i class="bi bi-circle"></i><span>Students Fees Status</span>
            </a>
          </li>
          <a href="student-register">
            <i class="bi bi-circle"></i><span>E-Register</span>
          </a>
      </li>
    </ul>
    </li><!-- End Students Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-layout-text-window-reverse"></i><span>Results</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
        <li>
          <a href="blue-print">
            <i class="bi bi-circle"></i><span>Assessments Structure</span>
          </a>
        </li>
        <li>
          <a href="continous-assessments">
            <i class="bi bi-circle"></i><span>Continous Assessment</span>
          </a>
        </li>

        <li>
          <a href="student-results">
            <i class="bi bi-circle"></i><span>Students Results Preview</span>
          </a>
        </li>
      </ul>
    </li><!-- End Results Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#charts-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-person-check"></i><span>Parents</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="charts-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
        <li>
          <a href="parents">
            <i class="bi bi-circle"></i><span>Feedbacks</span>
          </a>
        </li>
      </ul>
    </li><!-- End Parents Nav -->

    <li class="nav-heading">References</li>

    <li class="nav-item">
      <a class="nav-link collapsed" href="sessions">
        <i class="bi bi-collection"></i>
        <span>Sessions</span>
      </a>
    </li><!-- End Sessions Page Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" href="classes">
        <i class="bi bi-menu-button-wide"></i>
        <span>Classes</span>
      </a>
    </li><!-- End Classes Page Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" href="subjects">
        <i class="bi bi-book"></i>
        <span>Subjects</span>
      </a>
    </li><!-- End Subjects Page Nav -->

    </ul>

  </aside><!-- End Sidebar-->

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Dashboard</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item active">Dashboard</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard">
      <div class="row">

        <!-- Left side columns -->
        <div class="col-sm-10 offset-md-1">
          <div class="row">

            <!-- Students Card -->
            <div class="col-xxl-6 col-md-6">
              <div class="card info-card sales-card">
                <div class="card-body">
                  <h5 class="card-title">Students <span>| Total Number</span></h5>

                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-people"></i>
                    </div>
                    <div class="ps-3">
                      <h6 id="num">
                      </h6>

                    </div>
                  </div>
                </div>

              </div>
            </div><!-- End Students Card -->

            <!-- Today Card -->
            <div class="col-xxl-6 col-md-6">
              <div class="card info-card revenue-card">
                <div class="card-body">
                  <h5 class="card-title">Today <span></span></h5>

                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-calendar"></i>
                    </div>
                    <div class="ps-3">
                      <h6>
                        <%= today %>
                      </h6>

                    </div>
                  </div>
                </div>

              </div>
            </div><!-- End Today Card -->

            <!-- Subscription Card -->
            <div class="col-xxl-12 col-xl-12">

              <div class="card info-card customers-card">
                <div class="card-body">
                  <h5 class="card-title">Number of Nodes Remaining:</h5>
                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-brightness-high"></i>
                    </div>
                    <div class="ps-3">
                      <h6>
                        <%=info.nodes%>
                      </h6>
                    </div>
                  </div>
                  <div style="margin-top: 20px;">
                    <a id="regnow" target="_blank" href="/purchase-node"
                      style="color: rgb(4, 8, 255); font-size: 16px;font-weight: bold;">Purchase
                      a Node</a>
                  </div>
                </div>
              </div>
            </div><!-- End Subscription Card -->
          </div>
        </div>

        <fieldset class="row mb-3" id="fs">
          <legend class="col-form-label col-sm-2 pt-0"><b> Current Session</b></legend>
          <div class="col-sm-10">
            <label for="dropdown">Select an option:</label>
            <select id="dropdown" name="dropdown">
              <option value="option1" disabled selected>Select</option>
            </select>
          </div>
        </fieldset>


        <fieldset class="row mb-3" id="fs">
          <legend class="col-form-label col-sm-2 pt-0"><b> Portal Access Term</b> <br><i>(What term's data students and
              parents can
              access on
              the portal)</i></legend>
          <div class="col-sm-10" id="trms">
            <div class="form-check">
              <input class="form-check-input" type="radio" name="term" id="first" value="first">
              <label class="form-check-label" for="first">
                First Term
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="term" id="second" value="second">
              <label class="form-check-label" for="second">
                Second Term
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="term" id="third" value="third">
              <label class="form-check-label" for="third">
                Third Term
              </label>
            </div>
          </div>
        </fieldset>

        <div class="text-center">
          <p>Ensure that every subject teacher has uploaded his/her assessments before clicking on release results.</p>
        </div>


        <fieldset class="row mb-3">
          <legend class="col-form-label col-sm-2 pt-0"><b> Current Term Result Status</b></legend>
          <div class="col-sm-10" id="res">
            <div class="form-check">
              <input class="form-check-input" type="radio" name="status" id="released-for-all" value="released-for-all">
              <label class="form-check-label" for="released-for-all">
                Released for all Students.
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="status" id="released-for-some"
                value="released-for-some">
              <label class="form-check-label" for="released-for-some">
                Released for only Students who paid their fees.
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="status" id="not-released" value="not-released">
              <label class="form-check-label" for="not-released">
                Not Released
              </label>
            </div>
          </div>
        </fieldset>


        <div class="text-center" style="margin-top: 15px;">
          <a href=""><button class="btn btn-primary">Download Statement of
              Results</button></a>
        </div>


    </section>

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="copyright">
      &copy; Powered by <strong><span>Orbital Node 2023</span></strong>
    </div>
  </footer><!-- End Footer -->

  <!-- Change Password Modal -->
  <div class="modal fade" id="changePasswordModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Change Password</h5>
          <button class="close" data-bs-dismiss="modal"
            style="border: none; background-color: transparent;">&times;</button>
        </div>
        <div class="modal-body">
          <form class="row g-3 needs-validation" method="post" action="/admin/<%= info.name %>/changePassword"
            id="passwordForm">
            <div class="col-12">
              <label for="yourName" class="form-label">Old Password</label>
              <input type="text" name="oldPass" class="form-control" id="old-psw" required>
              <div class="invalid-feedback">Please, enter your old password</div>
            </div>
            <div class="col-12">
              <label for="yourName" class="form-label">New Password</label>
              <input type="text" name="newPass" class="form-control" id="new-psw" required>
              <div class="invalid-feedback">Please, the new password</div>
            </div>
            <button type="submit" id="btnSubmit" style="display: none;"></button>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" id="create" onclick="$('#btnSubmit').click()">Change</button>
        </div>

      </div>
    </div>
  </div>

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>


  <script>
    $(document).ready(function () {
      // Loading Overlays activate...
      $("#dropdown").LoadingOverlay("show");
      $("#num").LoadingOverlay("show");
      $("#trms").LoadingOverlay("show");
      $("#res").LoadingOverlay("show");

      $.ajax({
        url: '/admin/<%= info.name %>/getBatch2Data',
        method: 'GET',
        dataType: 'json',
        success: function (data) {
          $('#num').text(data.no_of_students);
          // Loop through the data and add each option to the dropdown menu
          $.each(data.sessions, function (key, value) {
            $('#dropdown').append('<option value="' + value + '" >' + value + '</option>');
          });
          if (data.current_session != "") {
            $('#dropdown').val(data.current_session);
          }

          $('input[name=term][value=' + data.current_term + ']').prop('checked', true);

          var st = "";
          switch (data.result_status) {
            case "1": st = "released-for-all";
              break;
            case "2": st = "released-for-some";
              break;
            case "3": st = "not-released";
              break;
            default: st = "not-released";
              break;
          }
          $('input[name=status][value=' + st + ']').prop('checked', true);

        },
        complete: function () {
          // Loading Overlays deactivate ...
          $('#dropdown').LoadingOverlay("hide", true);
          $('#num').LoadingOverlay("hide", true);
          $('#trms').LoadingOverlay("hide", true);
          $('#res').LoadingOverlay("hide", true);
        },
        error: function (xhr, status, error) {
          console.log('Error: ' + error);
        }
      });

      $('#dropdown option').click(function () {
        var selectedValue = $(this).val();
        $.ajax({
          url: '/admin/<%= info.name %>/updateCurrentSession',
          type: 'POST',
          data: {
            current_session: selectedValue
          },
          success: function (data) {
            if (data.success) {
              location.reload();
            } else {
              alert("Network Error");
            }
          },
          error: function (error) {
            alert('There was a problem.');
          }
        });
      });

      $("#released-for-all").click(function () {
        $.ajax({
          url: '/admin/<%= info.name %>/updateResultStatus',
          type: 'POST',
          data: {
            results_status: '1'
          },
          success: function (data) {
            if (data.success) {
              location.reload();
            } else {
              alert("Network Error");
            }
          },
          error: function (error) {
            alert('There was a problem.');
          }
        });
      });

      $("#released-for-some").click(function () {
        $.ajax({
          url: '/admin/<%= info.name %>/updateResultStatus',
          type: 'POST',
          data: {
            results_status: '2'
          },
          success: function (data) {
            if (data.success) {
              location.reload();
            } else {
              alert("Network Error");
            }
          },
          error: function (error) {
            alert('There was a problem.');
          }
        });
      });

      $("#not-released").click(function () {
        $.ajax({
          url: '/admin/<%= info.name %>/updateResultStatus',
          type: 'POST',
          data: {
            results_status: '3'
          },
          success: function (data) {
            if (data.success) {
              location.reload();
            } else {
              alert("Network Error");
            }
          },
          error: function (error) {
            alert('There was a problem.');
          }
        })
      });

      $("#first").click(function () {
        $.ajax({
          url: '/admin/<%= info.name %>/updateCurrentTerm',
          type: 'POST',
          data: {
            current_term: $(this).val(),
          },
          success: function (data) {
            if (data.success) {
              location.reload();
            } else {
              alert("Network Error");
            }
          },
          error: function (error) {
            alert('Oops! Change not updated. Please ensure that a session is already created.');
          }
        });
      });

      $("#second").click(function () {
        $.ajax({
          url: '/admin/<%= info.name %>/updateCurrentTerm',
          type: 'POST',
          data: {
            current_term: $(this).val(),
          },
          success: function (data) {
            if (data.success) {
              location.reload();
            } else {
              alert("Network Error");
            }
          },
          error: function (error) {
            alert('Oops! Changes were not updated. Please ensure that you have created a session.');
          }
        })
      });

      $("#third").click(function () {
        $.ajax({
          url: '/admin/<%= info.name %>/updateCurrentTerm',
          type: 'POST',
          data: {
            current_term: $(this).val(),
          },
          success: function (data) {
            if (data.success) {
              location.reload();
            } else {
              alert("Network Error");
            }
          },
          error: function (error) {
            alert('Oops! Change not updated. Please ensure that a session is already created.');
          }
        })
      });

      $("#passwordForm").submit(function (event) {
        event.preventDefault();
        var form = $(this);
        var action = form.attr('action');
        var formData = form.serialize();
        $.ajax({
          type: "POST",
          url: action,
          data: formData,
          success: function (data) {
            if (data.success) {
              $(".modal-body").html("<h5>Your password was changes successfully.");
              setTimeout(function () {
                window.location.href = "/admin";
              }, 2000);
            } else {
              alert("The Old Password you entered is invalid! Try again.");
              setTimeout(function () {
                location.reload();
              }, 2000);
            }
          },
          error: function (error) {
            alert('Oops! Somerhing happened. Pls try again later');
          }
        });
      });

    });
  </script>

  <script
    src="https://cdn.jsdelivr.net/npm/gasparesganga-jquery-loading-overlay@2.1.7/dist/loadingoverlay.min.js"></script>

  <!-- Vendor JS Files -->
  <script src="../../admin/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../../admin/assets/vendor/quill/quill.min.js"></script>
  <script src="../../admin/assets/vendor/tinymce/tinymce.min.js"></script>

  <!-- Template Main JS File -->
  <script src="../../admin/assets/js/main.js"></script>

</body>

</html>